{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-danger text-center mt-1">THỐNG KÊ MẬT ĐỘ SỬ DỤNG CÁC LOẠI PHÒNG</h1>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <table class="table">
            <tr>
                <th>Mã phòng</th>
                <th>Tên phòng</th>
                <th>Số ngày sử dụng</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-6 col-xs-12">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" name="kw" placeholder="Nhập từ khóa....."/>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="from_date" />
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="to_date" />
            </div>
                <input type="submit" value="Thống kê" class="btn btn-info"/>
        </form>
        <canvas id="roomChartId"></canvas>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels=[]
    let data=[]
    let colors=[]
    let borderColors=[]
    let r,g,b;
    {% for s in stats %}
    {% if s[2] %}
    labels.push('{{ s[1] }}')
    data.push({{ s[2] }})

    r = Math.random()*255
    g = Math.random()*255
    b = Math.random()*255

    colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
    borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endif %}
    {% endfor %}


    window.onload = function(){
        const ctx = document.getElementById('roomChartId').getContext('2d');
              loadChart(ctx,labels, data, 'bar', colors, borderColors, 'Mật độ sử dụng theo loại phòng')
                }

    function loadChart(ctx, labels, data, type, colors, borderColors, label){
        new Chart(ctx, {
    type: type,
    data: {
      labels: labels,
      datasets: [{
        label: label,
        data: data,
        backgroundColor: colors,
        borderCOlor:borderColors,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
    }
</script>
{% endblock %}