{% extends 'layout/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <div class="card shadow" style="border: none;">
                <div class="card-header text-white text-center" style="background-color: #D2B48C;">
                    <h2 class="text-dark" >Đăng nhập người dùng</h2>
                </div>
                <div class="card-body" style="background-color: #F5F5DC;">
                    <form method="post" action="/login">
                        <div class="mb-3">
                            <label for="username" class="form-label">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="username" placeholder="Nhập tên đăng nhập" name="username" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Mật khẩu</label>
                            <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" name="password" required>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn text-dark" style="background-color: #D2B48C;">Đăng nhập</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center" style="background-color: #F5F5DC;">
                    <small class="text-muted">Chưa có tài khoản? <a href="/register" class="text-brown" style="color: #8B4513;">Đăng ký ngay</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}